<form action='/add_bookmark' method='post'>
  Title: <input type='text' name='title' placeholder='type in title'>
  URL: <input type='text' name='url' placeholder='type in URL'>
  <input type='submit' value='Add'>
</form>
