
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href='<%=bookmark.url%>'><%= bookmark.title %></a></li>
  <% end %>
</ul>

<form action='/add_form' method='get'>
  <input type='submit' value='Add Bookmark'>
</form>
